.pasien-baru-konten {
    .input-split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .isi-input {
            width: calc(50% - 20px);
        }
    }
    .kontainer-btn-lama {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .btn-lama {
            width: calc(50% - 10px);
        }
    }
}
