.pasien-baru-konten {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .input-split {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .isi-input {
            width: calc(50% - 20px);
        }
    }
    .kontainer-btn-lama {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        .btn-lama {
            width: calc(50% - 10px);
        }
    }

    .btn-verif {
        margin-bottom: 25px;
    }

    .input-group-pasien-baru {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        .label-login {
            font-size: 14px;
            font-weight: 600;
            color: var(--yellow-900);
            margin-bottom: 8px;
        }

        .input-login {
            margin-bottom: 20px;
            width: 100%;
        }
    }
}
