.berita-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .gbr-headline {
        width: 100%;
    }

    .konten-berita {
        width: 100%;
        display: flex;
        flex-direction: column;
        p {
            font-size: 14px;
            font-weight: 600;
            color: #564405;
            margin-top: 10px;
            text-align: left;
        }
    }
}
