.akun-page {
    .konten-akun {
        // 30 px adalah tinggi .kontainer-page-konten
        height: calc(100vh - 60px);

        .akun-kontainer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .opsi-akun {
                display: flex;
                flex-direction: column;
                align-items: center;

                .data-akun {
                    width: 100%;
                    margin-bottom: 15px;
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    .gbr-akun {
                        width: 144px;
                        height: 144px;
                        border-radius: 50%;
                        border: 1px solid var(--main-500);
                        margin-bottom: 10px;
                    }

                    .nama-pengguna {
                        font-size: 16px;
                        font-weight: 500;
                        margin-bottom: 5px;
                    }

                    .data {
                        font-size: 14px;
                        font-weight: 400;
                        margin-bottom: 3px;
                    }
                }

                .button-opsi {
                    width: 100%;
                    height: 48px;
                    padding: 8px 16px;
                    border-radius: 10px;
                    background-color: var(--main-200);
                    border: none;
                    display: flex;
                    margin-bottom: 16px;

                    .konten-btn {
                        width: calc(100% - 32px);
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                    }
                    .kontainer-expand {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        background-color: var(--main-500);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 10px;
                            height: 14px;
                        }
                    }
                }
            }
        }
    }
}
