.page-odontogram {
    .kontainer-all-gigi {
        $scale: 0.5;
        $fontSize: calc(25px * #{$scale});
        $allTop: calc(#{$fontSize} + (10px * #{$scale}));

        .all-kuadran {
            display: flex;
            flex-direction: column;
            width: 100%;

            .margin-kuadran {
                margin-top: 20px;
            }

            .isi-kuadran {
                display: flex;
                flex-direction: row;
                width: 100%;
                .kuadran-kiri-gigi {
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                    width: 48%;
                    flex-direction: row-reverse;
                }

                .kuadran-kanan-gigi {
                    width: 48%;
                    margin-left: 4%;
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                }

                .kuadran-kiri-gigi-bayi {
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                    width: 48%;
                    flex-direction: row-reverse;
                }

                .kuadran-kanan-gigi-bayi {
                    width: 48%;
                    margin-left: 4%;
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                }
            }
        }

        .kontainer-gigi {
            margin-left: calc(30px * #{$scale});
            position: relative;
            width: calc(70px * #{$scale});
            height: calc(150px * #{$scale});

            .gbr-kondisi {
                position: absolute;
                top: calc(#{$allTop} + (-40px * #{$scale}));
                left: calc(-39px * #{$scale});
                width: calc(150px * #{$scale});
                height: calc(150px * #{$scale});
                z-index: 2;
                pointer-events: none;
            }

            .teks-kondisi {
                position: absolute;
                top: calc(0 * #{$scale});
                left: calc(9px * #{$scale});
                font-size: $fontSize;
                font-weight: 900;
                margin-bottom: 0;
                z-index: 2;
            }

            .nama-gigi {
                position: absolute;
                top: calc(#{$allTop} + (70px * #{$scale}));
                left: calc(20px * #{$scale});
            }

            .gigi-tengah {
                position: absolute;
                width: calc(38px * #{$scale});
                height: calc(38px * #{$scale});
                left: calc(17px * #{$scale});
                top: calc(#{$allTop} + (15px * #{$scale}));
                border: calc(2px * #{$scale}) solid black;
                background: #ffffff;
                &:hover {
                    cursor: pointer;
                    background-color: #aed3dc;
                }
            }

            .kontainer-gigi-bawah {
                position: absolute;
                top: calc(#{$allTop} + (48px * #{$scale}));
                left: calc((11px) * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-bawah {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: #ffffff;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;

                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }

            .kontainer-gigi-kanan {
                position: absolute;
                top: calc(#{$allTop} + (24px * #{$scale}));
                left: calc(35px * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-kanan {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: #ffffff;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: -90deg;

                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }
            .kontainer-gigi-atas {
                position: absolute;
                top: #{$allTop};
                left: calc((11px) * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-atas {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: #ffffff;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: -180deg;
                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }
            .kontainer-gigi-kiri {
                position: absolute;
                left: calc((-13px) * #{$scale});
                top: calc(#{$allTop} + (24px * #{$scale}));
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-kiri {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: #ffffff;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: 90deg;

                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }
        }

        .kontainer-gigi-seri {
            margin-left: calc(30px * #{$scale});
            position: relative;
            width: calc(70px * #{$scale});
            height: calc(150px * #{$scale});

            .gbr-kondisi {
                position: absolute;
                top: calc(#{$allTop} + (-40px * #{$scale}));
                left: calc(-39px * #{$scale});
                width: calc(150px * #{$scale});
                height: calc(150px * #{$scale});
                z-index: 2;
                pointer-events: none;
            }

            .teks-kondisi {
                position: absolute;
                top: calc(0 * #{$scale});
                left: calc(9px * #{$scale});
                font-size: $fontSize;
                font-weight: 900;
                margin-bottom: 0;
                z-index: 2;
            }

            .nama-gigi {
                position: absolute;
                top: calc(#{$allTop} + (70px * #{$scale}));
                left: calc(20px * #{$scale});
            }

            .gigi-tengah {
                position: absolute;
                width: calc(38px * #{$scale});
                height: calc(38px * #{$scale});
                left: calc(17px * #{$scale});
                top: calc(#{$allTop} + (15px * #{$scale}));
                border: calc(2px * #{$scale}) solid black;
                background: #ffffff;
                &:hover {
                    cursor: pointer;
                    background-color: #aed3dc;
                }
            }

            .kontainer-gigi-bawah {
                position: absolute;
                top: calc(#{$allTop} + (35px * #{$scale}));
                left: calc((11px) * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                z-index: 1;
                .gigi-bawah {
                    width: calc(50px * #{$scale});
                    height: calc(30px * #{$scale});
                    background: #ffffff;
                    transform: perspective(11px)
                        rotateX(calc(14deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;

                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }

            .kontainer-gigi-kanan {
                position: absolute;
                top: calc(#{$allTop} + (24px * #{$scale}));
                left: calc(35px * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-kanan {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: #ffffff;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: -90deg;

                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }
            .kontainer-gigi-atas {
                position: absolute;
                top: calc(#{$allTop} + (3px * #{$scale}));
                left: calc((11px) * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                z-index: 1;

                .gigi-atas {
                    width: calc(50px * #{$scale});
                    height: calc(30px * #{$scale});
                    background: #ffffff;
                    transform: perspective(11px)
                        rotateX(calc(14deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: -180deg;
                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }
            .kontainer-gigi-kiri {
                position: absolute;
                left: calc((-13px) * #{$scale});
                top: calc(#{$allTop} + (24px * #{$scale}));
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-kiri {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: #ffffff;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: 90deg;

                    &:hover {
                        cursor: pointer;
                        background-color: #aed3dc;
                    }
                }
            }
        }
    }

    .card-pilihan {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 50px;
        justify-content: space-between;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
        box-shadow:
            0 4px 8px 0 #00000033,
            0 6px 20px 0 #00000030;
        &:hover {
            cursor: pointer;
            background-color: #0000000d;
        }

        .isi-label {
            padding: 5px;
            margin: 0;
            width: calc(100% - 70px);
        }

        .isi-gbr {
            width: 50px;
            height: 50px;
        }
    }
}
