.kontainer-all {
    margin-top: 200px;

    .kontainer-all-gigi {
        $scale: 0.5;

        .all-kuadran {
            display: flex;
            flex-direction: column;
            width: 100%;

            .margin-kuadran {
                margin-top: 20px;
            }

            .isi-kuadran {
                display: flex;
                flex-direction: row;
                width: 100%;
                .kuadran-kiri-gigi {
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                    width: 48%;
                    flex-direction: row-reverse;
                }

                .kuadran-kanan-gigi {
                    width: 48%;
                    margin-left: 4%;
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                }

                .kuadran-kiri-gigi-bayi {
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                    width: 48%;
                    flex-direction: row-reverse;
                }

                .kuadran-kanan-gigi-bayi {
                    width: 48%;
                    margin-left: 4%;
                    margin-top: calc(20px * #{$scale});
                    display: flex;
                }
            }
        }

        .kontainer-gigi {
            margin-left: calc(30px * #{$scale});
            position: relative;
            width: calc(70px * #{$scale});
            height: calc(110px * #{$scale});

            .nama-gigi {
                position: absolute;
                top: 37px;
                left: 9px;
            }

            .gigi-tengah {
                position: absolute;
                width: calc(38px * #{$scale});
                height: calc(38px * #{$scale});
                left: calc(17px * #{$scale});
                top: calc(15px * #{$scale});
                border: calc(2px * #{$scale}) solid black;
                background: red;
                &:hover {
                    cursor: pointer;
                    filter: opacity(0.5);
                }
            }

            .kontainer-gigi-bawah {
                position: absolute;
                top: calc(48px * #{$scale});
                left: calc((11px) * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-bawah {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: red;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;

                    &:hover {
                        cursor: pointer;
                        filter: opacity(0.5);
                    }
                }
            }
            .kontainer-gigi-kanan {
                position: absolute;
                top: calc(24px * #{$scale});
                left: calc(35px * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-kanan {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: red;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: -90deg;

                    &:hover {
                        cursor: pointer;
                        filter: opacity(0.5);
                    }
                }
            }
            .kontainer-gigi-atas {
                position: absolute;
                top: 0;
                left: calc((11px) * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-atas {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: red;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: -180deg;
                    &:hover {
                        cursor: pointer;
                        filter: opacity(0.5);
                    }
                }
            }
            .kontainer-gigi-kiri {
                position: absolute;
                top: 0;
                left: calc((-13px) * #{$scale});
                top: calc(24px * #{$scale});
                width: calc(0px * #{$scale});
                height: calc(0px * #{$scale});
                .gigi-kiri {
                    width: calc(50px * #{$scale});
                    height: calc(20px * #{$scale});
                    background: red;
                    transform: perspective(10px)
                        rotateX(calc(21deg / #{$scale}));
                    border-top: calc(4px * #{$scale}) solid black;
                    border-bottom: calc(1px * #{$scale}) solid black;
                    border-right: calc(2px * #{$scale}) solid black;
                    border-left: calc(2px * #{$scale}) solid black;
                    rotate: 90deg;

                    &:hover {
                        cursor: pointer;
                        filter: opacity(0.5);
                    }
                }
            }
        }
    }
}
