.kontainer-pilihan-toggle {
    display: flex;
    flex-direction: row;
    margin-bottom: 28px;
    background-color: var(--main-400);
    border-radius: 10px;
    position: relative;

    .kontainer-bg {
        position: absolute;
        top: 4px;
        left: 8px;
        width: calc((100% / 2) - 16px);
        height: calc(100% - 10px);
        background-color: var(--main-200);
        border-radius: 10px;
        z-index: 1;
        transition: all 200ms ease-in-out;
    }

    .btn-pilihan {
        width: calc((100% / 2) - 16px);
        height: 52px;
        padding: 15px;
        font-size: 14px;
        font-weight: 600;
        color: var(--main-100);
        border: none;
        background-color: #00000000;
        z-index: 2;
        margin-left: 8px;
        transition: all 200ms ease-in-out;
    }
}
