.login-based {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;

    .input-login {
        border-color: #ca9343;
    }

    .background-login-based {
        width: calc(100% - 300px);
        height: 100%;
        position: relative;
        @media screen and (max-width: 768px) {
            display: none;
        }
        .bg {
            width: 100%;
            height: 100%;
            object-fit: fill;
            position: absolute;
            top: 0;
            left: 0;
        }

        .image-login-based {
            width: 100%;
            height: 100%;
            object-fit: fill;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .login-based-core {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #00000000;
        justify-content: center;
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .btn-pass {
            z-index: 10;
            background-color: #ffffff;
            width: 37px;
            height: 37px;
            right: 1px;
            top: 1px;
            padding: 2px;
        }

        .btn-signin {
            background-color: #ffc800;
            border: none;
        }
    }
}
