.home-page {
    width: 100%;
    height: 100vh;
    background-color: #d7b53c;

    .home-header {
        width: 100%;
        height: fit-content;
        padding: 20px;

        .menu-header-home {
            display: flex;
            width: 100%;
            height: fit-content;
            justify-content: space-between;

            .nama-pasien {
                margin: 0;
                font-size: 15px;
                font-weight: 500;
            }

            .tbl-masuk {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #00000000;
                border: none;
                &:focus {
                    outline: none;
                }
                img {
                    margin-right: 10px;
                }
                p {
                    margin: 0;
                }
            }
        }

        .carousel-home {
            margin-top: 20px;
        }

        .konten-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;

            .isi-konten-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc((100% / 4) - 10px);

                img {
                    width: 50px;
                    height: 50px;
                }

                p {
                    font-size: 11px;
                    min-height: 33px;
                    font-weight: 600;
                    color: #fff;
                    margin-top: 10px;
                    text-align: center;
                    color: #564405;
                }
            }
        }
    }

    .home-konten {
        display: flex;
        flex-direction: column;

        .navigasi-poliklinik {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .poliklinik-terpilih {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: calc(100% - (46px * 2));
                background-color: #cda30b;
                border-radius: 5px;
                padding: 7px;
                .judul-poliklinik {
                    color: #faf6e7;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    margin-bottom: 2px;
                }

                .jadwal-poliklinik {
                    font-size: 11px;
                    color: #515151;
                    font-weight: 400;
                    margin: 0;
                }
            }

            .navigasi {
                display: flex;
                width: 32px;
                height: 32px;
                background-color: #e8d58f;
                border-radius: 16px;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
