.viewer-poli {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fbd3b7;

    .header-viewer {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #e67e22;

        .gbr-header {
            width: 300px;
            height: 95px;
            object-fit: contain;
            margin-top: 25px;
            margin-left: 20px;
        }

        .kontainer-waktu {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 36px;
            font-weight: 700;
            margin-right: 10px;
            margin-top: 5px;

            .jam-berjalan {
                margin: 0;
                font-size: 36px;
                margin-bottom: 5px;
                margin-top: 10px;
                margin-right: 10px;
                margin: 0;
            }

            .tgl-berjalan {
                margin: 0;
                font-size: 24px;
                font-weight: 400;
            }
        }
    }

    .kontainer-konten {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: calc(100% - 160px);
        .konten-viewer {
            width: 60%;
            display: flex;
            flex-direction: column;
            height: 100%;

            .antrean-aktif-video {
                display: flex;
                flex-direction: row;
                padding: 7px;
                height: calc(100% - 220px);
                .antrean-aktif {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 47%;
                    margin-right: 3%;
                    font-size: 35px;
                    justify-content: space-between;
                    background-color: #eee7df;
                    border-radius: 25px;

                    .judul {
                        font-size: 30px;
                        font-weight: 700;
                    }

                    .nomor {
                        font-size: 120px;
                        font-weight: 800;
                        text-align: center;
                    }

                    .loket {
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
                .kontainer-video {
                    background-color: #000000;
                    border-radius: 25px;
                    width: 60%;
                }
            }

            .ruang-group {
                display: flex;
                width: 100%;
                margin-top: 30px;
                margin-left: 10px;
                flex-wrap: wrap;

                .ruang-available {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 47%;
                    border-radius: 15px;
                    margin-right: 3%;
                    background-color: #eee7df;
                    border-radius: 16px;
                    overflow: hidden;
                    min-height: 260px;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .isi-konten {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 15px;

                        p {
                            text-align: center;
                        }

                        .nama-poliklinik {
                            font-size: 18px;
                            font-weight: 500;
                        }
                        .nama-dokter {
                            font-size: 18px;
                            font-style: italic;
                        }
                        .nomor-antrean {
                            font-size: 46px;
                            font-weight: 600;
                            margin-bottom: 0;
                        }
                    }

                    .nama-ruang {
                        font-size: 25px;
                        font-weight: 700;
                        background: rgba(230, 126, 34, 0.8);
                        width: 100%;
                        text-align: center;
                        margin-bottom: 0;
                        padding: 10px;
                    }
                }
            }
        }

        .terakhir-panggil {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40%;
            height: 100%;
            justify-content: center;
            border-left: 10px solid #000000 !important;
            background-color: #ffffff;

            .ruang-available {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                border-radius: 15px;
                margin-right: 3%;
                background-color: #eee7df;
                border-radius: 16px;
                overflow: hidden;
                min-height: 300px;
                justify-content: space-between;
                margin-bottom: 20px;
                &:first-child {
                    margin-top: 30px;
                }
                .nomor-terpanggil {
                    font-size: 25px;
                    font-weight: 700;
                    background: rgba(230, 126, 34, 0.8);
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 10px;
                }

                .isi-konten {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        text-align: center;
                    }

                    .nama-poliklinik {
                        font-size: 18px;
                        font-weight: 500;
                    }
                    .nama-dokter {
                        font-size: 18px;
                        font-style: italic;
                    }
                    .nomor-antrean {
                        font-size: 46px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                }

                .nama-ruang {
                    font-size: 25px;
                    font-weight: 700;
                    background: rgba(230, 126, 34, 0.8);
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 10px;
                }
            }

            .ruang-available-sebelumnya {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                border-radius: 15px;
                margin-right: 3%;
                background-color: #eee7df;
                border-radius: 16px;
                overflow: hidden;
                min-height: 220px;
                justify-content: space-between;
                margin-bottom: 20px;
                &:first-child {
                    margin-top: 20px;
                }
                .nomor-terpanggil {
                    font-size: 20px;
                    font-weight: 700;
                    background: rgba(230, 126, 34, 0.8);
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 10px;
                }

                .isi-konten {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        text-align: center;
                    }

                    .nama-poliklinik {
                        font-size: 14px;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }
                    .nama-dokter {
                        font-size: 14px;
                        font-style: italic;
                        margin-bottom: 4px;
                    }
                    .nomor-antrean {
                        font-size: 30px;
                        font-weight: 600;
                        margin-bottom: 0;
                    }
                }

                .nama-ruang {
                    font-size: 16px;
                    font-weight: 700;
                    background: rgba(230, 126, 34, 0.8);
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                    padding: 10px;
                }
            }
        }
    }

    .running-text-viewer {
        display: flex;
        background-color: #e67e22;
        width: 100%;
        margin: 0;
        height: 60px;
        font-size: 35px;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }
}
