

.modal-registrasi-penjamin-fk {
    .table-hover-click {
        background-color: #ffffff;
        &:hover{
            cursor: pointer;
            background-color: #e0dddd;

        }
    }
    
}
