.page-reset-password {
    .input-reset-password {
        width: 100%;
    }

    .kontainer-captcha {
        width: 100%;
        position: relative;
        .isi-captcha {
            width: 100%;
            height: fit-content;
        }
        .tbl-reset {
            top: 0;
            right: 0;
            padding: 5px;
            width: 40px;
            height: 40px;
            position: absolute;
            background-color: #cda30b;
            border-radius: 20px;
        }
    }

    .btn-lupa-password {
        width: 100%;
    }
}
