.jadwal-konten {
    display: flex;
    flex-direction: column;

    .navigasi-poliklinik {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .poliklinik-terpilih {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% - (46px * 2));
            background-color: #cda30b;
            border-radius: 5px;
            padding: 7px;
            .judul-poliklinik {
                color: #faf6e7;
                font-size: 17px;
                font-style: normal;
                font-weight: 400;
                margin-bottom: 2px;
            }

            .jadwal-poliklinik {
                font-size: 13px;
                color: #515151;
                font-weight: 400;
                margin: 0;
            }
        }

        .navigasi {
            display: flex;
            width: 32px;
            height: 32px;
            background-color: #e8d58f;
            border-radius: 16px;
            justify-content: center;
            align-items: center;
        }
    }

    .jadwal-dokter {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        .isi-jadwal-dokter {
            margin-bottom: 15px;
            background-color: #e8d58f;
            border-radius: 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px;

            img {
                width: 48px;
                height: 48px;
            }

            .jabar {
                width: calc(100% - 60px);
                display: flex;
                flex-direction: column;

                .nama {
                    margin: 0;
                    font-weight: 500;
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                .jadwal {
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
    }
}
