.viewer-aplikasi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .header-viewer {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #e89348;

        .kontainer-gambar-header {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .gbr-header {
                width: 300px;
                height: 70%;
                object-fit: contain;
                margin-top: 12px;
                margin-left: 20px;
                &:last-child {
                    margin-left: -50px;
                    margin-top: 4px;
                    height: 88%;
                }
                &:first-child {
                    margin-left: 310px;
                }
            }
        }

        .kontainer-waktu {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 36px;
            font-weight: 700;
            margin-right: 10px;
            margin-top: 5px;
            width: 300px;

            .jam-berjalan {
                margin: 0;
                font-size: 26px;
                margin-bottom: 5px;
                margin-top: 10px;
                margin-right: 10px;
                margin: 0;
            }

            .tgl-berjalan {
                margin: 0;
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    .konten-viewer {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100% - 100px);

        .antrean-aktif-video {
            display: flex;
            flex-direction: row;
            padding: 7px;
            height: calc(100% - 220px);
            .antrean-aktif {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 37%;
                margin-right: 3%;
                font-size: 35px;
                justify-content: space-between;
                width: 40%;
                background-color: #ffffff;
                border-radius: 25px;
                border: 4px #e89348 solid;

                .judul {
                    font-size: 30px;
                    font-weight: 700;
                }

                .nomor {
                    font-size: 120px;
                    font-weight: 800;
                    text-align: center;
                }

                .loket {
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            .kontainer-video {
                background-color: #000000;
                border-radius: 25px;
                width: 60%;
            }
        }

        .loket-group {
            display: flex;
            width: 100vw;
            .loket-available {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 24%;
                height: 95%;
                border-radius: 15px;
                margin-right: 1%;
                background-color: #ffffff;
                border: 4px #e89348 solid;

                .number {
                    margin: 0;
                    font-size: 32px;
                    font-weight: 700;
                    margin-top: 8px;
                }

                .isi {
                    font-size: 80px;
                    font-weight: 800;
                }
            }
        }
    }

    .running-text-viewer {
        display: flex;
        background-color: #e89348;
        width: 100%;
        margin: 0;
        height: 60px;
        font-size: 35px;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }
}
