.header-profil-pegawaijs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .kontainer-profil-dokter {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: var(--main-100);
        padding: 20px;
        border-radius: 15px;
        width: 90%;
        margin-top: 20px;
        justify-content: space-between;

        .gbr-dokter {
            width: 50px;
            height: 50px;
            border-radius: 10px;
        }
        .isi-dokter {
            display: flex;
            flex-direction: column;
            align-items: start;

            .nama-dokter {
                font-size: 16px;
                margin-bottom: 2px;
                font-weight: 700;
            }
            .deskripsi-dokter {
                font-size: 12px;
                margin-bottom: 0;
                margin-left: 1px;
            }
        }
    }
}
