.kontainer-flatpickr {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    &:hover {
        cursor: pointer;
    }
    .fc-flatpickr {
        border: 1px solid #564405;
        height: 56px;

        &:focus {
            outline: none;
            border: 2px solid #564405;
        }
    }
}
