.kontainer-flatpickr {
    width: 100%;
    display: flex;
    flex-direction: column;

    .kontainer-isi-flatpickr {
        height: fit-content;
        display: flex;
        flex-direction: row;
        border: 1px solid var(--yellow-900);
        border-radius: 8px;
        background-color: #ffffff;
        width: 100%;
        align-items: center;
        &:focus-within {
            border: 1px solid var(--yellow-400);
            outline: 1px solid var(--yellow-400);
        }
        .fc-flatpickr {
            height: 56px;
            background-color: #00000000;
            border: none;
            padding: 0 10px;
            width: calc(100% - 30px);

            &:focus {
                outline: none;
                border: none;
            }
        }

        .img-flatpickr {
            width: 20px;
            height: 20px;
        }
    }

    &:hover {
        cursor: pointer;
    }
}
