.button-app-daftarmandiri {
    display: flex;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: 18px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--main-600);
    justify-content: center;
    color: var(--main-100);

    &-secondary {
        border: 1px solid var(--main-600);
        background-color: var(--main-white);
    }

    &-full-rounded {
        //dummy
        justify-content: center;
        align-items: center;
    }

    &-fixed-wh {
        padding: 0;
    }
}
